[submodule "external/probabilistic-quadrics"]
	path = external/probabilistic-quadrics
	url = git@github.com:anapupa/probabilistic-quadrics.git
[submodule "external/happly"]
	path = external/happly
	url = git@github.com:nmwsharp/happly.git
