[submodule "external/happly"]
	path = external/happly
	url = git@github.com:nmwsharp/happly.git
[submodule "external/probabilistic-quadrics"]
	path = external/probabilistic-quadrics
	url = https://github.com/Philip-Trettner/probabilistic-quadrics
